[submodule "translations"]
	path = translations
	url = https://git.torproject.org/translation.git
	branch = https_everywhere

[submodule "https-everywhere-lib"]
	path = https-everywhere-lib
	url = https://github.com/EFForg/https-everywhere-lib.git
