*.pyc
*.swp
*~
.DS_Store
.idea
.vagrant
.venv/
.venv2/
.venv3/
chromium.pem
from-preloads/
pkg/
src/chrome/content/rules/default.rulesets
src/chrome/content/rulesets.json
src/defaults/rulesets.sqlite
test_profile/
tokenkeys.py*
Vagrantfile
.cache/
geckodriver.log
node_modules/
coverage/
