[submodule "addon-sdk"]
	path = addon-sdk
	url = https://github.com/mozilla/addon-sdk.git
[submodule "https-everywhere-checker"]
	path = https-everywhere-checker
	url = https://github.com/jsha/https-everywhere-checker.git
	branch = coverage
