Dan Auerbach <dan@eff.org>                                  Dan Auerbach <dan@eff.org>
Dan Auerbach <dan@eff.org>                                  Dan Auerbach <dan@EFFs-MacBook-Pro.local>
Dan Auerbach <dan@eff.org>                                  Dan Auerbach <dan@EFFs-MacBook-Pro-2.local>
Dan Auerbach <dan@eff.org>                                  Dan Auerbach <dtauerbach@gmail.com>
Dominyk Tiller <DomT4@users.noreply.github.com>             Dominyk Tiller <DomT4@users.noreply.github.com>
Dominyk Tiller <DomT4@users.noreply.github.com>             Dominyk Tiller <dominyktiller@gmail.com>
Jeremy Nation <jeremy@jeremynation.me>                      Jeremy Nation <jeremy@jeremynation.me>
Jeremy Nation <jeremy@jeremynation.me>                      Jeremy Nation <jeremyn@users.noreply.github.com>
J0WI <J0WI@users.noreply.github.com>                        J0WI <J0WI@users.noreply.github.com>
J0WI <J0WI@users.noreply.github.com>                        J0WI <sjw@gmx.ch>
J0WI <J0WI@users.noreply.github.com>                        jowi <sjw@gmx.ch>
MB <kunjurcca@gmail.com>                                    MB <kunjurcca@gmail.com>
MB <kunjurcca@gmail.com>                                    MB <loveithateit@users.noreply.github.com>
MB <kunjurcca@gmail.com>                                    MB <newchain@users.noreply.github.com>
Micah Lee <micah@eff.org>                                   Micah Lee <micah@eff.org>
Micah Lee <micah@eff.org>                                   Micah Lee <micah@micahflee.com>
Micah Lee <micah@eff.org>                                   Micah Lee <micahflee@riseup.net>
numismatika <numismatika@users.noreply.github.com>          numismatika <numismatika@users.noreply.github.com>
numismatika <numismatika@users.noreply.github.com>          Numismatika <anonymous@nowhere.com>
numismatika <numismatika@users.noreply.github.com>          Numismatika <someone@anywhere.com>
numismatika <numismatika@users.noreply.github.com>          Numismatika <anyone@nowhere.com>
numismatika <numismatika@users.noreply.github.com>          Numi Smatika <numismatika-everywhere@eclipso.ch>
Peter Eckersley <pde@eff.org>                               Peter Eckersley <pde@eff.org> 
Peter Eckersley <pde@eff.org>                               Peter Eckersley <pde eff org>
Peter Eckersley <pde@eff.org>                               Peter Eckersley <pde@users.noreply.github.com>
Peter Eckersley <pde@eff.org>                               pde <pde@eff-pde>
sampablokuper (aka modem_down) <sampablokuper@uclmail.net>  <sampablokuper@uclmail.net>
sampablokuper (aka modem_down) <sampablokuper@uclmail.net>  modem_down <sampablokuper@users.noreply.github.com>
Seth Schoen <schoen@eff.org>                                Seth Schoen <schoen@eff.org>
Seth Schoen <schoen@eff.org>                                Seth David Schoen <schoen eff org>
Yan <yan@mit.edu>                                           Yan <yan@mit.edu>
Yan <yan@mit.edu>                                           Yan Zhu <yan@mit.edu>
Yan <yan@mit.edu>                                           yan <yzhu@yahoo-inc.com>
