sudo: required
language: generic
services:
  - docker
script:
  - test/travis.sh
env:
  - TEST=eslint
  - TEST=firefox FIREFOX=firefox-dev
  - TEST=firefox FIREFOX=firefox-latest
  - TEST=firefox FIREFOX=firefox-esr-latest
  - TEST=chromium
  - TEST=rules
  - TEST=fetch
  - TEST=preloaded
