sudo: required
language: generic
services:
  - docker
before_install:
  - docker build -t httpse .
script:
  - docker run --rm -ti -v $(pwd):/opt -e FIREFOX=/$FIREFOX/firefox/firefox httpse bash test.sh
  - docker run --rm -ti -v $(pwd):/opt -e FIREFOX=/$FIREFOX/firefox/firefox httpse bash test/travis-ruleset-fetch.sh
env:
  - FIREFOX=firefox-latest
  - FIREFOX=firefox-esr-latest
