# Config copied from
#  http://www.theautomatedtester.co.uk/blog/2012/using-travis-ci-for-building-and-testing-firefox-addons.html
language: python
python:
  - "2.7"
cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/virtualenv/python2.7_with_system_site_packages
addons:
  apt:
    packages:
      - libxml2-dev
      - python-dev
      - libcurl4-openssl-dev
      - python-lxml
      - python-software-properties
      - chromium-browser
  firefox: "latest"
virtualenv:
  system_site_packages: true
install:
  - pip install -r test/rules/requirements.txt
  - pip install -r test/chromium/requirements.txt
env:
  - DISPLAY=':99.0'
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - wget https://chromedriver.storage.googleapis.com/2.12/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip
  - mv chromedriver test/chromium/chromedriver
script:
  - ./test.sh
sudo: false
notifications:
  email:
    recipients:
      - jsha@eff.org
  notifications:
    irc:
      channels:
        - "irc.oftc.net#https-everywhere"
      on_success: change
      on_failure: change
