# @cowlicks and @Hainish review everything...
* @cowlicks @Hainish

# Except the rules, which are reviewed by @gloomy-ghost, @jeremyn and @J0WI.
chrome/content/rules/*.xml @gloomy-ghost @jeremyn @J0WI
