:root {
  --https-blue: #0a84ff;
  --darker-blue: #0060df;
  --text-main: #000;
  --text-secondary: #464646;
  --light-grey: #ececec;
}

body {
  align-content: center;
  background-color: var(--light-grey);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Lucida Grande', 'Segoe UI', Tahoma, 'DejaVu Sans', Arial, sans-serif;
  justify-content: center;
}

img {
  width: 100%;
}
img.footer_img {
  width: 15%;
}

h1.description {
  text-align: center;
}

.updates_header {
  text-align: center;
}
.updates_details {
  margin: 18px;
  padding: 1%;
}

footer {
  margin: 18px 0;
  text-align: center;
}