:root {
  --https-blue: #0a84ff;
  --darker-blue: #0060df;
  --text-main: #000;
  --text-secondary: #464646;
  --light-grey: #ececec;
  --space: 5px;
}

body {
  align-content: center;
  background-color: var(--light-grey);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Lucida Grande', 'Segoe UI', Tahoma, 'DejaVu Sans', Arial, sans-serif;
  justify-content: center;
}

img {
  width: 100%;
}

.update_header {
  text-decoration: underline;
}
.update_details {
  margin: 18px;
  padding: 1%;
}