body{
  margin-top: 6em;
  position: relative;
  text-align: center;
}

.content{
  margin: auto;
  text-align: left;
}

h1{
  text-align: center;
}

form, button, p{
  font-size: 12pt;
  font-family: sans-serif;
  line-height: 150%;
}

@media screen and (max-width: 800px) {
  form, button, p{
    font-size: 17pt;
  }
}

form{
  display: inline-flex;
  margin-bottom: 1em;
  overflow: auto;
}
form#http-once {
  margin-left: 8px;
}
form#url-actions-form {
  border-right: solid #ec1e1e 1px;
  padding-right: 8px;
}

form button{
  background-color: #aaa;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: .5em 1em;
}

#url-value{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#open-url-button, #http-once-button {
  background-color: #ec1e1e;
  float: left;
}
#open-url-button:hover, #http-once-button:hover {
  background-color: #fff;
  border: 1px solid #ec1e1e;
  color: #ec1e1e;
}

@media screen and (min-width: 600px) {
  .content {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .content, img {
    width: 100%;
  }
  form#url-actions-form {
    border: none;
  }
  form#http-once {
    margin-left: 0;
  }
}


