#https-everywhere-button {
  -moz-binding: url("chrome://https-everywhere/content/toolbar_button_binding.xml#https-everywhere-binding");
}

#https-everywhere-button > .https-everywhere-button {
  list-style-image: url("chrome://https-everywhere/skin/https-everywhere-24.png");
}

toolbar[iconsize="small"] #https-everywhere-button > .https-everywhere-button {
  list-style-image: url("chrome://https-everywhere/skin/https-everywhere-16.png");
}

toolbar #https-everywhere-button,
toolbar #https-everywhere-button > .https-everywhere-button {
  -moz-box-orient: horizontal;
}

/* Use CSS attribute selector for changing icon */
#https-everywhere-button[http_nowhere="true"] > .https-everywhere-button {
  list-style-image: url("chrome://https-everywhere/skin/https-everywhere-24-red.png");
}
#https-everywhere-button[status="disabled"] > .https-everywhere-button {
  list-style-image: url("chrome://https-everywhere/skin/https-everywhere-24-gray.png");
}
toolbar[iconsize="small"] #https-everywhere-button[http_nowhere="true"] > .https-everywhere-button {
  list-style-image: url("chrome://https-everywhere/skin/https-everywhere-16-red.png");
}
toolbar[iconsize="small"] #https-everywhere-button[status="disabled"] > .https-everywhere-button {
  list-style-image: url("chrome://https-everywhere/skin/https-everywhere-16-gray.png");
}

/* ruleset counter */
#rscounter {
  margin: 3px -12px 0 -8px; 
  display: block;
  -moz-box-sizing: border-box;
}

/* increase negative margins in the palette and panel so the button isn't too wide. */
#wrapper-https-everywhere-button[place="palette"] > #https-everywhere-button > #rscounter,
#https-everywhere-button[cui-areatype="menu-panel"] > #rscounter {
  margin: 3px -16px 0 -8px;
}

/* rulesets applied label */
#rsapplied {
  -moz-box-sizing: border-box;
  font-size: 12px;
  color: #000;
  background-color: #FFF;
  border-width: 1px; 
  border-style: solid;
  padding: 1px 1px 1px 1px; 
  visibility: hidden;
}

#https-everywhere-button:not([rulesetsApplied="0"]) #rsapplied {
  visibility: visible;
}

#https-everywhere-button menuitem.active-item label {
  color: #1e6419;
  font-weight: bold;
}
#https-everywhere-button menuitem.moot-item label {
  color: #1e6419;
  opacity: 0.75;
  font-weight: bold;
}
#https-everywhere-button menuitem.breaking-item label {
  color: #b99999;
  font-weight: bold;
}
#https-everywhere-button menuitem.inactive-item label {
  color: #999999;
  font-weight: bold;
}
