#https-everywhere-button {
    list-style-image: url("chrome://https-everywhere/skin/https-everywhere-24.png");
    -moz-box-orient: horizontal;
}

toolbar[iconsize="small"] #https-everywhere-button {
    list-style-image: url("chrome://https-everywhere/skin/https-everywhere-16.png");
    -moz-box-orient: horizontal;
}

#https-everywhere-button .active-item {
    color: #99FF99;
    font-weight: bold;
}
