<!--
	Nonfunctional subdomains:
		- the	(hostname mismatch, CN: *.squarespace.com, squarespace.com)
-->
<ruleset name="Citymapper">
	<target host=     "citymapper.com" />
	<target host= "www.citymapper.com" />
	<target host="www1.citymapper.com" />
	<target host="www2.citymapper.com" />
	<target host="www3.citymapper.com" />
	<target host="www4.citymapper.com" />
	<target host="www5.citymapper.com" />

  	<securecookie host="^.*\.citymapper\.com$" name=".+" />

	<rule from="^http:"
		to="https:" />
</ruleset>
