<!--
	Other PadMapper rulesets:

		- PadLister.com.xml


	Nonfunctional hosts in *padmapper.com:

		- blog *

	* Refused

-->
<ruleset name="PadMapper.com (partial)">

	<!--	Direct rewrites:
				-->
	<target host="padmapper.com" />
	<target host="www.padmapper.com" />

		<!--	Redirects to http:
						-->
		<!--exclusion pattern="^http://www\.padmapper\.com/$" /-->
		<!--
			Exceptions:
					-->
		<exclusion pattern="^http://www\.padmapper\.com/+(?!favicon\.ico|images/|pad(?:$|[?/])|static/)" />

			<!--	+ve:
					-->
			<test url="http://www.padmapper.com/listings/6126244" />
			<test url="http://www.padmapper.com/post" />
			<test url="http://www.padmapper.com/search/apartments/Alaska/alaska/" />
			<test url="http://www.padmapper.com/search/apartments/Hawaii/hawaii/" />
			<test url="http://www.padmapper.com/search/apartments/Massachusetts/" />
			<test url="http://www.padmapper.com/search/apartments/New-Mexico/albuquerque/" />
			<test url="http://www.padmapper.com/search/apartments/New-York/" />
			<test url="http://www.padmapper.com/search/apartments/Quebec/Grenville/" />
			<test url="http://www.padmapper.com/search/apartments/Wisconsin/" />

			<!--	-ve:
					-->
			<test url="http://www.padmapper.com/favicon.ico" />
			<test url="http://www.padmapper.com/images/PadLogoSmallV2.png" />
			<test url="http://www.padmapper.com/static/css/ui.stripped.css" />


	<rule from="^http:"
		to="https:" />

</ruleset>
