<ruleset name="PadMapper (partial)">

	<target host="padlister.com" />
	<target host="www.padlister.com" />
	<target host="padmapper.com" />
	<target host="www.padmapper.com" />


	<securecookie host="^www\.padmapper\.com$" name=".+" />


	<rule from="^http://(www\.)?padmapper\.com/"
		to="https://$1padmapper.com/" />

	<!--	At least some pages 302 to http.
							-->
	<rule from="^http://(www\.)?padlister\.com/(assets/|images/|users/login(?:$|\?))"
		to="https://$1padlister.com/$2" />

</ruleset>