<!--
Disabled by https-everywhere-checker because:
Fetch error: http://padmapper.com/ => https://padmapper.com/: Cycle detected - URL already encountered: https://www.padmapper.com/
Fetch error: http://www.padmapper.com/ => https://www.padmapper.com/: Cycle detected - URL already encountered: https://www.padmapper.com/
-->
<ruleset name="PadMapper (partial)" default_off='failed ruleset test'>

	<target host="padlister.com" />
	<target host="www.padlister.com" />
	<target host="padmapper.com" />
	<target host="www.padmapper.com" />


	<securecookie host="^www\.padmapper\.com$" name=".+" />


	<rule from="^http://(www\.)?padmapper\.com/"
		to="https://$1padmapper.com/" />

	<!--	At least some pages 302 to http.
							-->
	<rule from="^http://(www\.)?padlister\.com/(assets/|images/|users/login(?:$|\?))"
		to="https://$1padlister.com/$2" />

</ruleset>