<!--
Disabled by https-everywhere-checker because:
Fetch error: http://springpadit.com/ => https://springpadit.com/: (6, 'Could not resolve host: springpadit.com')
Fetch error: http://www.springpadit.com/ => https://springpadit.com/: (6, 'Could not resolve host: www.springpadit.com')
-->
<ruleset name="Springpad" default_off='failed ruleset test'>
  <target host="springpadit.com" />
  <target host="www.springpadit.com" />

  <rule from="^http://(?:www\.)?springpadit\.com/" to="https://springpadit.com/"/>
</ruleset>
