<!--
	Non-functional hosts
		SSL peer certificate was not OK:
			 - api.springfiles.com
			 - awww.springfiles.com
			 - ddd.springfiles.com
			 - dir.springfiles.com
			 - dwww.springfiles.com
			 - eww.springfiles.com
			 - metadata.springfiles.com
			 - my.springfiles.com
			 - news.springfiles.com
			 - paste.springfiles.com
			 - qqq.springfiles.com
			 - qww.springfiles.com
			 - wew.springfiles.com
			 - wwsw.springfiles.com
-->
<ruleset name="SpringFiles.com (partial)">
	<target host="springfiles.com" />
	<target host="www.springfiles.com" />
	<target host="admin.springfiles.com" />

	<securecookie host="^(www\.|admin\.)?springfiles\.com$" name=".+" />

	<rule from="^http:" to="https:" />
</ruleset>
