<ruleset name="SpringLobby.info" default_off="Certificate mismatch">

	<target host="springlobby.info" />
	<target host="buildbot.springlobby.info" />
	<target host="projects.springlobby.info" />
	<target host="www.springlobby.info" />

	<rule from="^http://(www\.)?([bp]\w+\.)?springlobby\.info/"
		to="https://$2springlobby.info/" />

	<securecookie host="^projects\.springlobby\.info$" name=".*" />

</ruleset>
