<!--
	Other Springer rulesets:

		- Biomed-Central.xml


	Nonfunctional:

		- (www.)chemistrycentral.com	(times out)
		- (www.)springeropen.com	(ditto)


	Problematic domains:

		- springerlink.com
		- www.springerlink.com		(akamai)

-->
<ruleset name="Springer (partial)">

	<target host="springer.com"/>
	<target host="www.springer.com"/>
	<target host="springer-gabler.de"/>
	<target host="www.springer-gabler.de"/>
	<!--target host="springerlink.com"/>
	<target host="www.springerlink.com"/-->
	<target host="springerzahnmedizin.de"/>
	<target host="www.springerzahnmedizin.de"/>

	<rule from="^http://(www\.)?springer\.com/"
		to="https://www.springer.com/"/>

	<rule from="^http://(www\.)?springer-gabler\.de/"
		to="https://springer-gabler.de/"/>

	<!--rule from="^http://(www\.)?springerlink\.com/(branding/|content/.+\.(jpg|pdf)|dynamic-file\.axd|images/|styles/)"
		to="https://www.springerlink.com/$2"/-->

	<rule from="^http://(www\.)?springerzahnmedizin\.de/(css|img|servlet)/"
		to="https://springerzahnmedizin.de/$2/"/>

</ruleset>
