<!--	!functional:
		- metadata.springfiles.com (cert: springfiles.com; 404)
-->
<ruleset name="SpringFiles (partial)" default_off="CACert, mismatch">

  <target host="springfiles.com" />
  <target host="*.springfiles.com" />
  <target host="springfiles.nl" />
  <target host="*.springfiles.nl" />

  <rule from="^http://(www\.)?springfiles\.com/"
          to="https://springfiles.com/" />

  <securecookie host="^\.springfiles\.(com|nl)$" name=".*" />

</ruleset>
