<!--
	Web bugs.


	Problematic subdomains:

		- nelonen	(refused)

-->
<ruleset name="Spring-TNS.net (partial)">

	<target host="*.spring-tns.net" />


	<!--securecookie host="^\.spring-tns\.net$" name="^i00$" /-->
	<!--securecookie host=".+\.spring-tns\.net$" name="^srp$" /-->
	<securecookie host=".*\.spring-tns\.net$" name=".+" />


	<rule from="^http://ssl-(\w+)\.spring-tns\.net/"
		to="https://ssl-$1.spring-tns.net/" />

	<rule from="^http://nelonen\.spring-tns\.net/"
		to="https://ssl-nelonen.spring-tns.net/" />

	<!--	Does this work for all subdomains?
							-->
	<!--rule from="^http://(\w+)\.spring-tns\.net/"
		to="https://ssl-$1.spring-tns.net/" /-->

</ruleset>