<!--
	Mixed content:

		- Image on www from $self *

	* Secured by us, see https://www.paulirish.com/2010/the-protocol-relative-url/

-->
<ruleset name="Spring.org.uk" default_off="expired, self-signed">

	<target host="spring.org.uk" />
	<target host="www.spring.org.uk" />


	<rule from="^http:"
		to="https:" />

</ruleset>
