<!--
	For rules causing false/broken MCB, see Spring.io-falsemixed.xml.


	Nonfunctional hosts in *spring.io:

		- projects


	Insecure cookies are set for these domains and hosts:

		- .spring.io
		- forum.spring.io


	Mixed content:

		- css, on forum from:

			- netdna.bootstrapcdn.com *
			- fonts.googleapis.com *
			- $self *

		- Images, on:

			- ^ from graph.facebook.com *
			- ^ from i.stack.imgur.com *
			- forum from forum *

	* Secured by us

-->
<ruleset name="Spring.io (partial)">

	<target host="spring.io" />
	<target host="jira.spring.io" />
	<target host="www.spring.io" />


	<!--	Not secured by server:
					-->
	<!--securecookie host="^\.spring\.io$" name="^(__cfduid|cf_clearance)$" /-->
	<!--securecookie host="^forum\.spring\.io$" name="^(bblastactivity|bblastvisit|bbsessionhash)$" /-->

	<securecookie host="^\." name="^(?:__cfduid|cf_clearance)$" />


	<rule from="^http:"
		to="https:" />

</ruleset>
