<!--
	Remark: *.springfiles.com has a wildcard DNS record.
-->
<ruleset name="SpringFiles.com (partial)">
	<target host="springfiles.com" />
	<target host="www.springfiles.com" />
	<target host="admin.springfiles.com" />

	<securecookie host="^(www\.|admin\.)?springfiles\.com$" name=".+" />

	<rule from="^http:" to="https:" />
</ruleset>
