
<!--
Disabled by https-everywhere-checker because:
Non-2xx HTTP code: http://forum.spring.io/ (200) => https://forum.spring.io/ (521)

	For rules not causing false/broken MCB, see Spring.io.xml.

-->
<ruleset name="Spring.io (false MCB)" platform="mixedcontent" default_off='failed ruleset test'>

	<target host="forum.spring.io" />


	<securecookie host="^\w" name="." />


	<rule from="^http:"
		to="https:" />

</ruleset>
