<!--
	For other Springer coverage, see Springer.xml.


	Fully covered hosts in *springerzahnmedizin.de:

		- (www.)?
		- fortbildung


	Insecure cookies are set for these hosts:

		- springerzahnmedizin.de
		- fortbildung.springerzahnmedizin.de
		- www.springerzahnmedizin.de

-->
<ruleset name="Springer Zahnmedizin.de">

	<target host="springerzahnmedizin.de"/>
	<target host="fortbildung.springerzahnmedizin.de" />
	<target host="www.springerzahnmedizin.de"/>


	<!--	Not secured by server:
					-->
	<!--securecookie host="^(fortbildung\.|www\.)?springerzahnmedizin\.de$" name="Apache$" /-->

	<securecookie host="^(?:fortbildung\.|www\.)?springerzahnmedizin\.de$" name=".+" />


	<rule from="^http:"
		to="https:" />

</ruleset>
