<!--
Disabled by https-everywhere-checker because:
Fetch error: http://springshare.com/ => https://springshare.com/: Cycle detected - URL already encountered: https://www.springshare.com/
Fetch error: http://www.springshare.com/ => https://www.springshare.com/: Cycle detected - URL already encountered: https://www.springshare.com/
	Other Springshare rulesets:

		- LibAnswers.xml
		- LibGuides.xml


	Nonfunctional subdomains:

		- lgproc.aws.springshare.com

-->
<ruleset name="Springshare" default_off='failed ruleset test'>

	<target host="springshare.com" />
	<target host="www.springshare.com" />


	<rule from="^http://(www\.)?springshare\.com/"
		to="https://$1springshare.com/" />

</ruleset>