<!--
	Refused:
		authors.springernature.com
		compliance.springernature.com
		helpdesk.springernature.com
		unifiedconcur.springernature.com

	No working URL known:
		citrix-nz.springernature.com
		eas.springernature.com
		ews.springernature.com
		idp.springernature.com
		media.springernature.com
		owa.springernature.com

	Invalid certificate:
		click.springernature.com
		editorial-jobs.springernature.com
		id.springernature.com (broken chain)
		www.search.springernature.com
		sndigital.springernature.com

	Connection reset:
		leap.springernature.com

-->
<ruleset name="SpringerNature.com">

	<target host="springernature.com" />
	<target host="www.springernature.com" />
	<target host="adminportal.springernature.com" />
	<target host="app-hive.springernature.com" />
	<target host="as.springernature.com" />
	<target host="authorservices.springernature.com" />
	<target host="www.authorservices.springernature.com" />
	<target host="identity.authorservices.springernature.com" />
	<target host="secure.authorservices.springernature.com" />
	<target host="secureb.authorservices.springernature.com" />
	<target host="bookmanuscriptsubmission.springernature.com" />
	<target host="dam.springernature.com" />
	<target host="dropbox.springernature.com" />
	<target host="ebookrecords.springernature.com" />
	<target host="experiments.springernature.com" />
	<target host="grandchallenges.springernature.com" />
	<target host="group.springernature.com" />
	<target host="hive.springernature.com" />
	<target host="jira.springernature.com" />
	<target host="labs.springernature.com" />
	<target host="liferay.springernature.com" />
	<target host="myaccount.springernature.com" />
	<target host="preview.springernature.com" />
	<target host="recommendations.springernature.com" />
	<target host="recommended.springernature.com" />
	<target host="researchdata.springernature.com" />
	<target host="resources.springernature.com" />
	<target host="scigraph.springernature.com" />
	<target host="search.springernature.com" />

	<rule from="^http:" to="https:" />

</ruleset>
