<!--
	Problematic hosts in *spring.org.uk:

		- (www.)? *

	* Expired, self-signed


	Mixed content:

		- css on www from $self *
		- Image on www from $self *

	* Secured by us

-->
<ruleset name="Spring.org.uk" default_off="expired, self-signed">

	<!--	Direct rewrites:
				-->
	<target host="spring.org.uk" />
	<target host="www.spring.org.uk" />


	<rule from="^http:"
		to="https:" />

</ruleset>
