<!--
	For rules causing false/broken MCB, see Spring.io-falsemixed.xml.


	Nonfunctional subdomains:

		- projects


	Fully covered subdomains:

		- (www.)


	Mixed content:

		- css, on forum from:

			- forum *
			- fonts.googleapis.com *
			- netdna.bootstrapcdn.com *

		- Images, on forum from forum *

	* Secured by us

-->
<ruleset name="Spring.io (partial)">

	<target host="spring.io" />
	<target host="www.spring.io" />


	<rule from="^http://(www\.)?spring\.io/"
		to="https://$1spring.io/" />

</ruleset>
