<!--
	Nonfunctional:

		- metadata.springfiles.com (cert: springfiles.com; 404)


	Mixed content:

		- Images on ^ from ^ *

		- Web bug on ^ from www.facebook.com *

	* Secured by us

-->
<ruleset name="SpringFiles (partial)" platform="cacert" default_off="expired">

	<target host="springfiles.com" />
	<target host="*.springfiles.com" />
	<target host="springfiles.nl" />
	<target host="*.springfiles.nl" />


	<securecookie host="^\.springfiles\.com$" name=".*" />


	<!--	Cert doesn't match www nor nl	-->
	<rule from="^http://(?:www\.)?springfiles\.(?:com|nl)/"
		to="https://springfiles.com/"/>

</ruleset>
