<!--
	For other Springer coverage, see Springer.xml.


	Nonfunctional hosts:

		- www.mediadaten *

	* Shows adwizard.springer.com


	Insecure cookies are set for these hosts:

		- registrierung.springer-medizin.de

-->
<ruleset name="Springer Zahnmedizin.de (partial)">

	<target host="registrierung.springer-medizin.de" />


	<!--	Not secured by server:
					-->
	<!--securecookie host="^registrierung\.springer-medizin\.de$" name="^Apache$" /-->

	<securecookie host="^registrierung\.springer-medizin\.de$" name=".+" />


	<rule from="^http:"
		to="https:" />

</ruleset>
