<!--
	For rules not causing false/broken MCB, see Spring.io.xml.

-->
<ruleset name="Spring.io (false MCB)" platform="mixedcontent">

	<target host="forum.spring.io" />


	<securecookie host="^forum\.spring\.io$" name=".+" />


	<rule from="^http://forum\.spring\.io/"
		to="https://forum.spring.io/" />

</ruleset>
