<!--
	Cert mismatch:
		- origin.vid-io.springserve.com

	Connection refused:
		- tools.springserve.com
		- origin.vid-io.springserve.com
-->
<ruleset name="Springserve">

	<target host="springserve.com" />
	<target host="www.springserve.com" />


	<target host="hb.springserve.com" />
	<target host="dmp.springserve.com" />
	<target host="vast-videos.springserve.com" />
	<target host="sync.springserve.com" />
	<target host="vd.springserve.com" />
	<target host="vid.springserve.com" />
	<target host="vid-io.springserve.com" />
	<target host="hb-io.springserve.com" />
	<target host="post.update.morgdog.springserve.com" />
	<target host="edat.springserve.com" />
	<target host="s.update.morgdog.springserve.com" />
	<target host="omni.springserve.com" />
	<target host="vid-ssb.springserve.com" />
	<target host="videos.springserve.com" />
	<target host="video.springserve.com" />
	<target host="vpaid.springserve.com" />

	<rule from="^http:"
		to="https:" />

</ruleset>
