<!--
	Insecure cookies are set for these domains:

		- .springrts.com

-->
<ruleset name="Spring RTS.com">

	<!--	Direct rewrites:
				-->
	<target host="springrts.com" />
	<target host="www.springrts.com" />


	<!--	Not secured by server:
					-->
	<!--securecookie host="^\.springrts\.com$" name="^phpbb3_\w+_(?:k|sid|u)$" /-->

	<securecookie host="^\.springrts\.com$" name=".+" />


	<rule from="^http:"
		to="https:" />

</ruleset>
