.general-settings-wrapper{
  margin: 10px 0 0 0;
}

.general-settings-wrapper#update-wrapper{
  margin-bottom: 20px;
}

.general-settings-wrapper#mixed-rulesets-wrapper{
  margin-bottom: 20px;
}

.section-header{
  margin-bottom: 10px;
}

.section-header-span{
  border-bottom: 1px solid #ccc;
  font-size: 15px;
}

#import{
  margin-bottom: 10px;
  float: right;
}

#import-confirmed{
  display: none;
}
