#dev-popup-dialog {
  padding: 20px;
}
#wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
}
#paragraph1, #paragraph2 {
  font-size: 1.2em;
  text-align: center;
}
button {
  font-size: 1.2em;
}
button#revert-to-stable {
  font-weight: bold;
}
