# Config for running https-everywhere-checker in coverage-only mode.
# Only check whether rulesets have sufficient coverage with test URLs. If
# any ruleset needs additional coverage, exit with status 1. No HTTP fetching.
[rulesets]
rulesdir = src/chrome/content/rules
check_coverage = true
check_nonmatch_groups = true
check_test_formatting = true
include_default_off = false
skiplist = utils/ruleset-whitelist.csv
skipfield = 1

[certificates]
basedir = test/rules/platform_certs

[http]
user_agent = Mozilla/5.0 (X11; Linux x86_64; rv:36.0) Gecko/20100101 Firefox/36.0
# Don't bother doing HTTP, we are just checking coverage and want it to be fast.
enabled = false
connect_timeout = 20
read_timeout = 30
redirect_depth = 10
threads = 10
fetch_in_subprocess = false

[log]
logfile = -
loglevel = error

[thresholds]
metric = markup
max_distance = 0.1

[debug]
graphviz_file = HTEC_trie.dot
exit_after_dump = true
