# Config for fetching test URLs for all rulesets and auto-disabling any rulesets
# that fail.
[rulesets]
rulesdir = src/chrome/content/rules
check_coverage = false
auto_disable = true
include_default_off = false

[certificates]
# Certificate trust anchors for checking chains in HTTPS connections
basedir = test/rules/platform_certs

[http]
user_agent = Mozilla/5.0 (X11; Linux x86_64; rv:36.0) Gecko/20100101 Firefox/36.0
enabled = true
connect_timeout = 20
read_timeout = 30
redirect_depth = 10
threads = 20
fetch_in_subprocess = false

[log]
logfile = -
loglevel = info

[thresholds]
metric = markup
max_distance = 0.1

[debug]
graphviz_file = HTEC_trie.dot
exit_after_dump = true
