# Config for checking single rules or a handful of rules manually while working
# on them.
[rulesets]
# Directory with XML files describing HTTPS Everywhere rulesets
rulesdir = src/chrome/content/rules
check_coverage = true
auto_disable = false
include_default_off = true
check_target_validity = true

[certificates]
# Certificate trust anchors for checking chains in HTTPS connections
basedir = test/rules/platform_certs

[http]
user_agent = Mozilla/5.0 (X11; Linux x86_64; rv:36.0) Gecko/20100101 Firefox/36.0
enabled = true
connect_timeout = 20
read_timeout = 30
redirect_depth = 10
threads = 40
fetch_in_subprocess = false

[log]
logfile = -
loglevel = info

[thresholds]
metric = markup
max_distance = 0.1

[debug]
graphviz_file = HTEC_trie.dot
exit_after_dump = true
