@import "../main.css";

body {
  color: var(--text-secondary);
  font-family: 'Lucida Grande', 'Segoe UI', Tahoma, 'DejaVu Sans', Arial, sans-serif;
  margin: 0;
  max-width: 400px;
  min-width: 360px;
}

header {
  background-color: var(--light-grey);
  color: var(--text-main);
  display: flex;
  padding: var(--space);
}

header h1 {
  font-size: 2em;
}

header .logo-container {
  margin: var(--space);
  width: 85%;
}

header .logo-container img {
  width: 100%;
}

header small {
  color: #000;
  display: block;
  font-size: .70em;
  font-weight: bold;
  margin: 1%;
  width: 100%;
}

h1 {
  font-size: 16px;
  margin: var(--space) auto
}

h2 {
  clear: both;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 16px;
}

h1,
h2 {
  color: var(--text-main);
}

footer {
  display: inline-flex;
  margin: var(--space);
}

footer a.button {
  margin: var(--space);
}

/* Elements */
.settings_block {
  padding: 5px 1em 20px 1em;
  border-bottom: var(--light-grey) solid 1px;
}

.see_more__prompt {
  color: var(--text-main);
  cursor: pointer;
  font-size: 12px;
  float: right;
  margin: 5px 0;
  padding: 10px 0;
}

.see_more__arrow {
  border: solid var(--darker-blue);
  border-width: 0 3px 3px 0;
  float: right;
  margin-left: 10px;
  margin-top: 3px;
  padding: 3px;
}

.see_more__content.show p {
  font-size: 12px;
  margin: 10px 0;
}

.down {
  transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
}

input[type=checkbox] {
  opacity: 0;
}

label {
  background: grey;
  border-radius: 25px;
  color: var(--text-main);
  cursor: pointer;
  display: block;
  float: right;
  font-weight: bold;
  height: 30px;
  position: relative;
  text-indent: -400px;
  width: 50px;
}

label:after {
  background: #fff;
  border-radius: 90px;
  content: '';
  height: 20px;
  left: 5px;
  position: absolute;
  top: 5px;
  transition: 0.3s; /* Acts on transform below */
  width: 20px;
}
input:checked+label {
  background: var(--https-blue);
}
/* position  when checked*/
input:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.label_nontoggle {
  background: none;
  border-radius: 0;
  color: var(--text-main);
  display: block;
  font-weight: normal;
  height: inherit;
  position: relative;
  text-indent: 0;
  width: auto;
}

.label_nontoggle:after {
  background: none;
  border-radius: 0;
  content: none;
  height: auto;
  left: initial;
  position: relative;
  top: initial;
  transition: none;
  width: auto;
}

/* Specific rules */
.rule.checkbox {
  clear: both;
  margin: 5% auto;
}

.rule.checkbox .remove {
  float: left;
}

.rule.checkbox label {
  font-size: 12px;
  font-weight: normal;
  height: 25px;
  text-indent: -285px;
  width: 40px;
}
.rule.checkbox label:after {
  border-radius: 20px;
  height: 15px;
  width: 15px;
}

#disable-on-this-site {
  clear: both;
}

#disableButton {
  display: block;
}

#HttpNowhere h1,
#disableButton h1 {
  float: left;
}

#RuleManagement {
  padding: 5px 1em 10px 1em;
}

#settingsForThisSite h1 {
  float: left;
}

#addRuleSection label,
#addRuleSection button {
  font-size: 14px;
  width: 100%;
}

#addRuleSection input {
  background: #fff;
  border: 1px solid #000;
  float: right;
  margin: 5px auto;
  padding: 5px;
  width: 95%;
}

#new-rule-advanced,
#new-rule-regular-text {
  margin-top: 40px;
}

#HttpNowhere {
  display: block;
  padding: 5px 1em;
}

#StableRules h3 {
  float: left;
  margin: 10px;
}
#StableRules h2 {
  margin-left: 10px;
}
#StableRules #RuleManagement--counter {
  background: var(--darker-blue);
  border-radius: 20px;
  color: #fff;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  margin-top: 8px;
  padding: 5px;
  text-align: center;
  width: 15px;
}

/* Event based */
.see_more--clarified {
  font-size: 12px;
}

/* Hide rules & options if the extension is off. */
.disabled #RuleManagement,
.disabled #HttpNowhere {
  display: none;
}

/* By default the "Add a rule" link is hidden. It's shown on HTTPS sites only. */
#addRuleSection {
  display: none;
}

#rulesets-versions {
  display: block;
  clear: both;
}

.rulesets-version {
  display: block;
}

#resetButton {
  display: inline-flex;
  margin: 10px;
  width: 95%;
}
#reset-to-defaults {
  width: 100%;
}

/* Initially hide section (until rules get added). */
section.rules {
  display: none;
}

/* For "see more" content */
.hide {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0s;
  visibility: hidden;
}

.show {
  clear: both;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
  visibility: visible;
}
