.section-header{
  margin-bottom: 10px;
}

.section-header-span{
  border-bottom: 1px solid #ccc;
  font-size: 15px;
}

#debugging-rulesets{
  width: 100%;
  height: 500px;
}

#saved{
  display: none;
  color: green;
  font-weight: bold;
  margin: 30px;
}
