body {
  margin-left: 1em;
  margin-top: 0;
  margin-right: 1em;
  margin-bottom: 0;
  min-width: 20em;
}

/* Don't wrap text for important stuff. */
h1, h2, h3, .rule {
  white-space: nowrap;
}

/* Initially hide section (until rules get added). */
section.rules {
  position: fixed;
  visibility: hidden;
}

/* Underline rules that have notes. */
.rule [title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* Favicons */
.rule img {
  margin-left: 0.6em;
  vertical-align: bottom;
}

/*** Everything below is "reverse-engineered" from Chrome's Settings page. ***/

/* Override a strange pixel offset in widgets.css. */
.rule input[type="checkbox"] {
  bottom: 1px;
}

/* Override display attribute of text labels in widgets.css. */
.rule span {
  display: inline !important;
}

body {
  /* Fonts Chrome specifies for each OS:     */
  /* Linux: 'DejaVu Sans', Arial, sans-serif */
  /* Mac: 'Lucida Grande', sans-serif        */
  /* Windows: 'Segoe UI', Tahoma, sans-serif */
  font-family: 'Lucida Grande', 'Segoe UI', Tahoma, 'DejaVu Sans', Arial, sans-serif;
  font-size: 75%;
  color: #303942;
  padding-top: 55px;
}

header {
  background-image: -webkit-linear-gradient(white, white 40%, rgba(255, 255, 255, 0.92));
  left: 1em;
  position: fixed;
  right: 1em;
  top: 0;
  z-index: 3;
}

header > h1 {
  margin: 0;
  padding: 21px 0 13px;
}

/* Create a border under the h1 (but before anything that gets appended
 * to the end of the header). */
header > h1::after {
  background-color: #eee;
  content: ' ';
  display: block;
  height: 1px;
  position: relative;
  top: 13px;
}

section {
  -webkit-padding-start: 18px;
  -webkit-padding-end: 18px;
  margin-bottom: 24px;
  margin-top: 8px;
}

section > h3 {
  -webkit-margin-start: -18px;
}

footer {
  border-top: 1px solid #EEE;
  margin-top: 16px;
  padding: 8px 0;
}
