<!--
	For other Springer coverage, see Springer.xml.

-->
<ruleset name="Springer-Gabler.de" default_off="mismatched">

	<target host="springer-gabler.de" />
	<target host="www.springer-gabler.de" />


	<securecookie host="^springer-gabler\.de$" name=".+" />


	<rule from="^http://(?:www\.)?springer-gabler\.de/"
		to="https://springer-gabler.de/"/>

</ruleset>
